@font-face{
  font-family: 'webFont';
  src: url('./static/fonts/Nexa-Regular.otf'), url('./static/fonts/Nexa-Light.otf'), url('./static/fonts/Nexa-Bold.otf');
  

}

body {
  margin: 0;
  font-family: "webFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
